<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PhishLab{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        {% set active_page = active_page|default('') %}
        {% include "base_sidebar.html" %}
        <main class="main-content">
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>